@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color:#18acf6;
    --text-color:#fff;
    --big-font:3rem;
    --bg-color:#1e1c2a;
    --h2-font:2.25rem;
    --p-font:0.9rem;
}
*::selection {
    background: var(--main-color);
    color: #fff;
}

body{
    color:var(--text-color);
    background: var(--bg-color);    
}
header{
    position: fixed;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    top: 0;
    right: 0;
    width:100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 170px;
    background: var(--bg-color);
}
.logo{
    color:var(--main-color);
    font-weight: 600;
    font-size: 2rem;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    padding:10px 20px;
    font-weight: 500;
}

.navbar a:hover{
    color: var(--main-color);
    transition: .4s;
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
section{
    padding: 70px 17%;
}
.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:1.5rem;
    align-items: center;
}
.home-img{
    max-width: 100%;
    width: 500px;
    height: auto;
}

.home-text h1{
    font-size: 20px;
    color: var(--main-color);
    text-transform: uppercase;
}
.home-text h2{
    font-size: 20px;;
    margin: 1rem 0 2rem;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color:#fff;
    border-radius: 0.5rem;
}
#downloadButton {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color:var(--main-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow:rgb(226, 218, 218);
    transition: background-color 0.3s;
}

#downloadButton:hover {
    box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan,0 0 100px cyan,0 0 200px cyan;
}
.btn:hover{
    transform: scale(1.2) translate(10px);
    transform: .4s;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap:1.5rem;
    align-items: center;
}
.about-img img{
    max-width: 100%;
    width: 480px;
    height: auto;
}

.about-text span{
    color: var(--main-color);
    font-weight: 600;
}
.about-text h1{
    font-size: var(--h2-font);
}
.about-text p{
    margin:0.8rem 0 1.8rem;
    line-height: 1.7;
}
.heading{
    text-align: center;
}
.heading span{
    color: var(--main-color);
    font-weight: 600;
}
.heading h2{
    font-size: 20px;
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    grid-gap:center;
    align-items: center;
}
.box{
    position: relative;
    margin-top: 4rem;
    margin-left: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #feeee7;
    padding: 20px;
    border-radius: 0.5rem;
}
.box-img{
    width: 220px;
    height: 220px;
}
.box-img img{
    width: 100%;
    height: 100%;
}
.box:hover{
    transform: scale(1.2) translate(10px);
    transform: .4s;
}
.service-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;
}

.card{
    width: 325px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
}
.card:hover{
    transform: translateY(-20px);
}
.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card-content{
    padding: 20px;
}
.card-content h1{
    font-size:20px;
    color: var(--main-color);
    margin-bottom: 10px;
}
.card-content p{
    font-size: 15px;
    color:#666;
    margin-bottom: 20px;
}
.card-button{
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
}
.card-button:hover{
    transform: scale(1.2) translate(10px);
    transform: .4s;
}
.cta{
    color: #f4f4f4;
    background-size: cover;
    padding: 70px 0;
    text-align: center;
    width: 66%;
    margin:100px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
}
.cta h2{
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 30px; ;
}

.contactForm{
   position: grid;
   gap: 5em;
   margin-top: 3em;

}
.sub-heading{
    color: var(--main-color);
}
.para{
    font-size: 1.2rem;
}
.contactMethod{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    text-align: left;
}

form{
    width: 90px;
}
.input{
    width: 500px;
    max-width: 700px;
    border: none;
    font-size:  .9rem;
    padding: 1em;
    outline: none;
    margin-bottom: 1em;
    background-color:#29263a ;
    color: var(--p-font);
    border-radius: 10px;
    border: 1px solid rgb(64, 63, 63);
}
.input:focus{
    border: 1px solid var(--main-color);
}
.input::placeholder{
    text-transform: var(--main-color);
}
.submit{
    background-color: var(--main-color);
    border: none;
    color: var(--p-font);
    font-weight: bold;
    cursor: pointer;
    width: 556%;
}
.map-container{
    position: relative;
    width: 100%;
    height: 500px;
}
.mapBg{
    position: absolute;
    background-color: var(--main-color);
    top: 0;
    right: 0;
    width: 200px;
    height: 90%;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
}
.map{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 90%;
}
.map iframe{
    width: 100%;
    height: 100%;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    padding:10px 0;
    gap: 50px;
    
}
.col{
    width: 25%;
}
.col h4{
    font: 1.2rem;
    color:var(--text-color);
    margin-bottom: 25px;
    position: relative;
}
.col h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--main-color);
}
.col ul li:not(last-child){
    margin-bottom: 15px;
}
.col ul li a{
    color: #98997a;
    font-size: 1.1rem;
    display: block;
    text-transform: capitalize;
    transition: .4s;
}
.col ul li a:hover{
    color: var(--text-color);
    transform: translateX(-12px);
}
.col .social{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col .social a{
    height: 40px;
    width: 40px;
    background: var(--main-color);
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content:center;
    font-size: 1.5rem;
    border-radius: 50px;
    transition: .4s;
}
.col .social a:hover{
    transform: scale(1.2);
    color: var(--bg-color);
    background: var(--text-color);
}
@media (max-width: 1140px) {
    section{
        padding: 50px 8%;
    }
    #menu-icon{
        display: initial;
        color: var(--text-color);
    }
    header .navbar{
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #2b2640;
        transition: .3s;
    }
    header .navbar.active{
        top: 70px;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
    }
    .col{
        width: 50%;
        margin-bottom: 10px;
    }
}
@media (max-width: 720px){
    header{
        padding: 10px 16px;
    }
    .home{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img{
        order:2;
    }
    section{
        padding: 100px 7%;
    }
}
    @media (max-width: 480px) {
        .contact {
            padding: 10px;
        }
    
        .contact-form h1 {
            font-size: 20px;
        }
    
        .contact-form-btn {
            font-size: 14px;
            padding: 7px 0;
        }
    }
      
@media (max-width: 575px){
    .col{
        width: 100%;
    }
}

@media(min-width:800px){
    .contactForm{
        max-width: 1100px;
    }
    .contactForm{
        grid-template-columns: 1fr 1fr;
    }
}
